.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.navItem {
    padding: 10px;
    color: orangered;
}
a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}
a:hover,
a:focus{
    color: orangered;
}
.navLink {
    font-weight: 500;
    color: orangered;
    text-decoration: none;
}

.navLink:focus,
.navLink:hover {
    color: #FF4500;
    text-decoration: underline;
}